<%= render 'shared/logout'%>

<p style="color: green"><%= notice %></p>

<h1> PUBLIC RECIPES </h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe_path(current_user, recipe.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path(current_user) %>
