<p style="color: green"><%= notice %></p>

<div class="generalContainer">
  <div>
    <%= link_to "Back to recipes", recipes_path %>
  </div>

  <h1 class="pageTitle"> <%= capitalize_text(@recipe.name )%></h1>
  <div class="recipeShowGeneralInfo">
    <p class="preparationTime"><strong>Preparation Time: </strong> <%= @recipe.preparation_time_minutes %></p>
    <%=render 'shared/change_public', recipe: @recipe%>
    <p class="cookingTime"><strong>Cooking Time: </strong> <%= @recipe.cooking_time_minutes %></p>
    <p class="recipeDescription"><%= @recipe.description %></p>
    <button>Generate Shopping List</button>
    <button>Add Ingredient</button>
  </div>
  <table class="ingredientsTable">
    <tr>
      <th> Food </th>
      <th> Quantity </th>
      <th> Value </th>
      <th> Actions </th>
    </tr>
    <tr>
      <td> Apple </td>
      <td> 2 </td>
      <td> $1 </td>
      <td> Edit Remove </td>
    </tr>
  </table>
</div>
