<div class="generalContainer">
  <div>
    <%= link_to "Back to recipes", recipes_path %>
  </div>

  <h1 class="pageTitle"> <%= capitalize_text(@recipe.name) %></h1>
  <div class="recipeShowGeneralInfo">
    <p class="preparationTime"><strong>Preparation Time: </strong> <%= @recipe.preparation_time_minutes %></p>
    <%= render 'shared/change_public', recipe: @recipe %>
    <p class="cookingTime"><strong>Cooking Time: </strong> <%= @recipe.cooking_time_minutes %></p>
    <p class="recipeDescription"><%= @recipe.description %></p>
    <button>Generate Shopping List</button>
    <button id="addIngredientButton">Add Ingredient</button> <!-- Added id -->
  </div>
  <table class="ingredientsTable">
    <tr>
      <th> Food </th>
      <th> Quantity </th>
      <th> Value </th>
      <th> Actions </th>
    </tr>
    <% @recipe.recipe_foods.each do |ingredient| %>
      <tr>
        <td><%= ingredient.food.name %></td>
        <td><%= ingredient.quantity %> <%= ingredient.food.measurement_unit %>s</td>
        <td>$<%= ingredient.food.price %></td>
        <td>
          <a> Edit </a>
          <a> Remove </a>
        </td>
      </tr>
    <% end %>
    <tr class="ingredientForm"> <!-- Added class -->
      <form>
        <td><input id="getName" type="text" name="name" /></td>
        <td><input id="getName" type="text" name="name" /></td>
        <td>Add ingredient here</td>
        <td><input type="submit" value="Save ingredient" id="ingredientSubmit"/></td>
      </form>
    </tr>
  </table>
</div>

<script>
  document.getElementById("addIngredientButton").addEventListener("click", function() {
    const ingredientForm = document.querySelector(".ingredientForm");
    const ingredientInput = document.querySelector("#getName");
    ingredientForm.style.display = ingredientForm.style.display === "table-row" ? "none" : "table-row";
    ingredientInput.focus();
  });
</script>
