<%= render 'shared/logout'%>

<p style="color: green"><%= notice %></p>

<%= render @user %>

<div> 
  <%= link_to "Show All Recipes", user_recipes_path(@user)%>
  <%= link_to "Back to users", users_path %>
</div>
