<!DOCTYPE html>
<html>
  <head>
    <title>YRecipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%if user_signed_in? %>
      <%= render 'shared/navbar'%>
    <%end%>
    <div id="flash-notice" class="flash-message" style="color: green;">
      <% if flash[:notice] %>
        <div class="flash-message notice">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="flash-message alert">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <% if flash[:warning] %>
        <div class="flash-message warning">
          <%= flash[:warning] %>
        </div>
      <% end %>

      <% if flash[:info] %>
        <div class="flash-message info">
          <%= flash[:info] %>
        </div>
      <% end %>
    </div>

    <%= yield %>
      <script>
      setTimeout(function() {
        document.getElementById("flash-notice").style.display = "none";
    }, 2000)
    </script>
  </body>
</html>
